<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      - Là các giải pháp tổng thể đã được tối ưu hóa, được tái sử dụng cho
      các vấn đề phổ biến trong thiết kế phần mềm mà chúng ta thường gặp
      phải hàng ngày.
    </p>

    <h3>Lợi ích</h3>
    <ul style="list-style-type: decimal">
      <li>Tăng tốc độ phát triển phần mềm</li>
      <li>Code tường minh, dễ dàng team work</li>
      <li>Tái sử dụng code</li>
      <li>Hạn chế lỗi tiềm ẩn, dễ dàng nâng cấp</li>
    </ul>

    <h3>Phân loại</h3>
    <ul>
      <li>
        <h4>Nhóm Creational (Nhóm khởi tạo)</h4>
        <p>
          - Cung cấp giải pháp để tạo ra các đối tượng và che giấu được
          logic của việc tạo ra nó thay vì tạo ra đối tượng theo cách trực
          tiếp. Điều này giúp chương trình trở nên mềm dẻo hơn trong việc
          quyết định đối tượng nào cần được tạo ra trong những tình huống
          khác nhau.
        </p>
        <ul>
          <li>Singleton</li>
          <li>Factory Method</li>
          <li>Abstract Factory</li>
          <li>Builder</li>
          <li>Prototype</li>
        </ul>
      </li>
      <li>
        <h4>Nhóm Structural (Nhóm cấu trúc)</h4>
        <p>
          - Liên quan tới class và các thành phần của đối tượng. Nó dùng để
          thiết lập, định nghĩa quan hệ giữa các đối tượng. Ta có thể dựa
          vào class diagram để theo dõi mẫu này.
        </p>
        <ul>
          <li>Adapter</li>
          <li>Bridge</li>
          <li>Composite</li>
          <li>Decorator</li>
          <li><a href="/patterns/facade">Facade</a></li>
          <li>Flyweight</li>
          <li>Proxy</li>
        </ul>
      </li>
      <li>
        <h4>Nhóm Behavioral (Nhóm hành vi)</h4>
        <p>
          - Liên quan đến các quan hệ hành vi để xử lí các chức năng giữa
          các đối tượng trong hệ thống. Đối với các mẫu thuộc nhóm này ta
          có thể dựa vào collaboration và sequence diagram để theo dõi.
        </p>
        <ul>
          <li>Iterpreter</li>
          <li>Template Method</li>
          <li>Chain of Responsibility</li>
          <li>Command</li>
          <li>Iterator</li>
          <li>Mediator</li>
          <li>Memento</li>
          <li><a href="/patterns/observer">Observer</a></li>
          <li>State</li>
          <li><a href="/patterns/strategy">Strategy</a></li>
          <li>Visitor</li>
        </ul>
      </li>
    </ul>

    <h3>Thuật toán</h3>
    <ul style="list-style-type: decimal">
      <li><a href="/algorithms/push-pull">Push-Pull</a></li>
    </ul>
  </body>
</html>
